# http://editorconfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.lua]
indent_style = space
indent_size = 2

[*.{md,json,yaml}]
indent_size = 2

[*.nix]
indent_size = 2
